<%= erb :'_header' %>
<%= erb :'_side_bar' %>

<div class="container">
  <% dive_number = 1 %>
  <% @user_dive_entries.each do |entry| %>
    <a class = link_to_entry href = "/dive_entries/<%= entry.id %>"> <div class = "dive_entry_details">
        <div class = "img_thumbnail" ></div>
        <div class = "main_dive_details">
          <p class = "dive_site"> <%= entry.dive_site %> </p>
          <p class = "location"> <%= entry.location.location_name %> </p>
          <p class = "date"> Date: <%= entry.date %></p>
        </div>

          <div class = "secondary_dive_details">
            <p>Time: <%= entry.dive_time %> mins</p>
            <p>Depth: <%= entry.depth %> meters</p>
            <p>Temp: <%= entry.temperature %></p>
            <p>Visibility: <%= entry.visibility %> meters </p>
            <p>Notes: <%= entry.notes %></p>
          </div>
      </div> </a>
        <% dive_number += 1 %>
        <% end %>


    <a class= "add_dive_button" href = "/dive_entries/new"> Add Dive </a>
    <div class="modal">
    <%= erb :'dive_entries/_new_dive_form' %>
    </div>



</div>
