<%= erb :'_header' %>
<%= erb :'_side_bar' %>
<div class="container">
  <div class = "dive_photo_container">
    <img class = "dive_photo" src= <%= @dive_entry.photo %>/>
  </div>


  <div class="dive_show_first_section">
      <h2><%= @dive_entry.dive_site %></h2>
      <h3><%= @dive_entry.location.location_name %> </h3>
      <p>Dive No: <%= @user_dive_entries.index(@dive_entry) + 1  %></p>
  </div>

  <div class="dive_show_second_section">
    <div class = "depth">
      <img class ="icon_img" src= "/images/grey_ruler.png"/>
      <p><%= @dive_entry.depth %> meters </p>
    </div>

    <div class = "time">
      <img class ="icon_img" src= "/images/grey_watch.png"/>
      <p><%= @dive_entry.dive_time %> mins</p>
    </div>

    <div class = "viz">
    <img class ="icon_img" src= "/images/grey_mask.png"/>
     <p><%= @dive_entry.visibility %> meter vis</p>
    </div>
  </div>

    <div class = "dive_show_third_section">
      <p>About the dive:</p>
      <p> It was  <%= @dive_entry.temperature %> degrees. <%= @dive_entry.notes %></p>
    </div>


    <form method = "post" action = "/dive_entries/<%=@dive_entry.id%>">
      <input name="_method" type="hidden" value="delete">
      <input type = "submit" value = "Delete">
    </form>
</div>

